@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row form-group">
        <div class="col-4">
            <label>Course</label>
            <select  class="selectpicker" id="CourseId" onchange="home.search()">
            </select>
        </div>
        <div class="col-4">
            <label>Grade</label>
            <select class="selectpicker" id="GradeId" onchange="home.search()">
            </select>
        </div>

    </div>
</div>


<table id="tbClass" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Class Id</th>
            <th>Class Name</th>
            <th>Students</th>
            <th>Teacher Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}
